*{padding: 0; margin: 0;box-sizing: border-box;}
/*font-family: Poppins', sans-serif;*/
/*font-family: ;*/
header{
    width: 100%;;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),
    url('sabri-tuzcu-wunVFNvqhfE-unsplash.jpg');
    background-size: cover;
    color: white;

}
nav{
    width:100% ;
    height:100px ;
    background:rgb(218, 80, 126);
    display: flex;
    justify-content:space-between ;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 70px;
    font-family: 'Poppins', sans-serif; 
}
.logo{
   font:3em ;
   letter-spacing: 2px;
   font-weight:bold ; 
}
.menu a{
    text-decoration:none ;
    color:white ;
    font-size:1.2em ;
    padding:.5rem 1rem ;
}
.menu i{
    font-size: 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;}

.menu a:hover{
    background:blueviolet;
    border-radius: 8px;

}
.container{
    width: 100%;
    height: 100%;
    display:flex ;
    justify-content: space-around;
    align-items:center ;
    flex-wrap:wrap ;
    padding: 0 70px;
}
.left{
    flex-basis: 60%;

}

.right{
    flex-basis: 30%;
}

.left h2{
    font-family: ' Poppins', sans-serif;
    color:rgba(218,80,126);
}
.left h1{
    font-family:'Kalam', cursive;
    font-size: 3em;
}
#hire{
    text-decoration:none ;
    background:rgb(190, 33, 143);
    color:white ;
    padding:1rem 2rem ;
    border-radius: 8px;
    font-size: 1rem;
    margin: 0 1rem;



}
#myp{
text-decoration:none ;
    background:rgb(190, 33, 143);
    color:white ;
    padding:1rem 2rem ;
    border-radius: 8px;
    font-size: 1rem;
    margin: 0 1rem;
}
#bio{
cursor: pointer;
width: 100%;
height: 100%;
display:flex ;
justify-content: space-around;
align-items:flex-start;
flex-wrap:wrap ;
padding:150px 70px;
font-family: 'Poppins', sans-serif; 


} 
.leftbio{
    flex-basis: 40%;
}
.rightbio{
    flex-basis: 60%;
}
.leftbio img{
    width: 100%;
    height: 500px;
    border-radius: 8px;
}
.rightbio{
    text-align: right;
    padding: 0 40px;
}
.rightbio p{
    margin:15px 0 ;
    line-height:2.5rem ;
}
.rightbio h1{
    font-size: 2.5rem;
}
.info{
    display: flex;
    justify-content: space-around;
    align-items:flex-start ;
    flex-wrap:wrap ;
    text-align: left;
}
#follow{
    text-align: center;
}
#follow i{
    color: blueviolet ;
    font-size:1.5rem ;
    margin:0 0.5rem ;

}
.link-h{
    text-align: center;
    margin-top: 3rem;

}
#Cv{
text-decoration:none ;
 color:blueviolet ;
    padding:1rem 2rem ;
    border-radius: 7px;
    font-size: 1.5rem;
    margin: 0 1rem;
    border: 1px dashed grey;
}